@model IEnumerable<RecipesMVC.Models.RecipeClass>

@{
    ViewData["Title"] = "FindRecipe";
}

<h1>FindRecipe</h1>

<form asp-controller="Recipes" asp-action="FindRecipe" method="get">
    <p> Title: <input type="text" name="ingre" />
    <input type="submit" value="Filter" />
        </p> </form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Rid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Instructions)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Rid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Instructions)
            </td>
            <td>
                <a asp-action="Starred" asp-route-id="@item.Rid">Star</a>
                <a asp-action="Details" asp-route-id="@item.Rid">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
