@model IEnumerable<RecipesMVC.Models.RecipeClass>



@{ ViewData["Title"] = "MyRecipes"; }



<body style="background-color: #d2f8d2;">
    <h1>My Recipes</h1>

    <table class="table">
        <thead>
            <tr>
                <th>
                   S.no.
                </th>
                <th>
                   Recipe Name
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Rid)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Rname)
    </td>
    @*<td>
            @Html.DisplayFor(modelItem => item.Instructions)
        </td>*@
    <td>
        <a  style="color: #006400; text-decoration: none;"  asp-action="Details" asp-route-id="@item.Rid">Details</a> 
     </td>
    <td>
        <a style="color: #006400; text-decoration: none;" asp-action="DeleteRecipe" asp-route-id="@item.Rid"><i class="fas fa-trash-alt"></i></a>
    </td>
</tr>
}
        </tbody>
    </table>
</body>