@model IEnumerable<RecipesMVC.Models.RecipeClass>



@{ ViewData["Title"] = "MyRecipes"; }



<h1>My Recipes</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Rid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rname)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Rid)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Rname)
    </td>
    @*<td>
            @Html.DisplayFor(modelItem => item.Instructions)
        </td>*@
<td>
    <a asp-action="Details" asp-route-id="@item.Rid">Details</a>
    <a asp-action="DeleteRecipe" asp-route-id="@item.Rid">Delete</a>
</td>
</tr>}
    </tbody>
</table>
